/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

:root {
    --background-color-light: #f1e4ea;
    --text-color-light: rgb(50, 51, 51);
    
    --background-color-dark: #515151;
    --text-color-dark: rgb(240, 243, 243);

    }

body {
        background-color: var(--background-color-light);
        color: var(--text-color-light);
      }

body {
    font-family: 'Montserrat', sans-serif;

    font-family: 'Quicksand', sans-serif;; 
    box-sizing: border-box;
}

/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: rgb(244, 155, 138);
    padding: 2%;
}

.right-position {
    float: right;
    margin-right: 10px; 
}

.icono {
    float: left;
    display: block;
    margin-top: 40px;
    font-size: 20px;
    
}

.navigation {
    display: flex;
    justify-content: center;
}


.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;

}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    transition: 0.3s;
}

.menu li a:hover {
    box-shadow: 0 -5px 0px #fff inset, 500px 0 0 rgba(255, 255, 255, 0.03);
}

#dark-mode-button {
    border-radius: 100px;
    height: 60px;
    width: 90px;
    border-radius: 70px;
    background-color: #fff;
    color: #515151;
    font-size: 30px;
}

#mi-id {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    margin-top: 5%;
}
h1 {
    text-align: center;
    margin-top: 5%;
}
article {
    text-align: justify;
    text-indent: 1%;
    line-height: 1.7;
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 100%;
}

button {
    background-color: #7b7d7b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 5%;
    cursor: pointer;
    margin-left: auto;
    margin-top: 2%;
}

h2 {
    margin-top: 15%;
    margin-bottom: 0px;
    text-align: center;
}
h3 {
    margin-top: 3%;
    text-align: center;
}
.sec_form {
    margin: 8%;
    margin-top: 2%;
    line-height: 2;
    border: black;
}

h4 {
    margin-top: 3%;
    text-align: center;
    padding: 10px
}
.pie-pagina {
    background-color: rgb(244, 155, 138);
}
.contact-icons {
    max-width: 100%;
    width: 7%;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 2%;
}

@media (max-width: 768px) {
    
    
    article {
        margin: 8%;

    }
    button {
        margin-left: 8%;
    }

   nav {
    width: 100%;
    height: 100%;
   }

   .fa-solid {
    display: none
   }

   h1 {
    margin-bottom: 0%;
   }

   article {
    margin-top: 0%;
   }

   .contact-icons {
    margin-top: 10%;
   }



}


      
/* Estilos adicionales para el modo oscuro */
body.dark-mode {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
      }

body.dark-mode header {
        background-color: rgb(63, 62, 62);
    }
    
.icono.dark-mode {
       color: #fff;
    }
    
body.dark-mode h4 {
         background-color: rgb(146, 144, 144);
    }
    